# Titanic Kaggle dataset

### First goal - Get a generalized prediction as fast as possible

In [342]:
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import roc_auc_score

import pandas as pd

X = pd.read_csv("./train.csv")
test = pd.read_csv('test.csv')

In [343]:
X.describe()

#As we can see here age column has a lot of values missing which can be further seen through the following command
X[X['Age'].isnull()]

# We can do a lot of things to fix this missing data problem.
# 1. Predict the age using some machine learning algorithm (Best case)
# 2. or we can fill the values with a mean/avg value (Simple)
# 3. Omit these observations from our dataset but we already have very less of them and doing this will leave us with very 
#    small dataset

# Here in this project for the sake of simplicity we will fill the null values with the mean age value

# Instead of filling with avg of all people on the ship we can take avg age on the basis of title in the name

X['Initial']=0
test['Initial']=0
for i in X:
    X['Initial']=X.Name.str.extract('([A-Za-z]+)\.')
    test['Initial']=test.Name.str.extract('([A-Za-z]+)\.')
    
#Replace with common initials
X['Initial'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],['Miss','Miss','Miss','Mr','Mr','Mrs','Mrs','Other','Other','Other','Mr','Mr','Mr'],inplace=True)
test['Initial'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don','Dona'],['Miss','Miss','Miss','Mr','Mr','Mrs','Mrs','Other','Other','Other','Mr','Mr','Mr','Mrs'],inplace=True)
X.groupby('Initial')['Age'].mean()

## Assigning the NaN Values with the Ceil values of the mean ages
X.loc[(X.Age.isnull())&(X.Initial=='Mr'),'Age']=33
X.loc[(X.Age.isnull())&(X.Initial=='Mrs'),'Age']=36
X.loc[(X.Age.isnull())&(X.Initial=='Master'),'Age']=5
X.loc[(X.Age.isnull())&(X.Initial=='Miss'),'Age']=22
X.loc[(X.Age.isnull())&(X.Initial=='Other'),'Age']=46

test.groupby('Initial')['Age'].mean()
test.loc[(test.Age.isnull())&(test.Initial=='Mr'),'Age']=33
test.loc[(test.Age.isnull())&(test.Initial=='Mrs'),'Age']=39
test.loc[(test.Age.isnull())&(test.Initial=='Master'),'Age']=8
test.loc[(test.Age.isnull())&(test.Initial=='Miss'),'Age']=22
test.loc[(test.Age.isnull())&(test.Initial=='Other'),'Age']=43

# X['Age_band']=0
# X.loc[X['Age']<=16,'Age_band']=0
# X.loc[(X['Age']>16)&(X['Age']<=32),'Age_band']=1
# X.loc[(X['Age']>32)&(X['Age']<=48),'Age_band']=2
# X.loc[(X['Age']>48)&(X['Age']<=64),'Age_band']=3
# X.loc[X['Age']>64,'Age_band']=4

# test['Age_band']=0
# test.loc[test['Age']<=16,'Age_band']=0
# test.loc[(test['Age']>16)&(test['Age']<=32),'Age_band']=1
# test.loc[(test['Age']>32)&(test['Age']<=48),'Age_band']=2
# test.loc[(test['Age']>48)&(test['Age']<=64),'Age_band']=3
# test.loc[test['Age']>64,'Age_band']=4

C:\Users\Shantanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
C:\Users\Shantanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [344]:
# Getting just the numeric values and leaving categorical values
numeric_variables = list(X.dtypes[X.dtypes!="object"].index)

X[numeric_variables].head()
test['Fare'].fillna(test.Fare.mean(),inplace=True)

In [345]:
def describe_categorical(X):
    
    from IPython.display import display,HTML
    display(HTML(X[X.columns[X.dtypes=="object"]].describe().to_html()))

In [346]:
describe_categorical(X)

In [347]:
X.drop(['Name','Ticket','Cabin','Initial'],axis=1,inplace=True)
test.drop(['Name','Ticket','Cabin','Initial'],axis=1,inplace=True)

In [348]:
X.dropna(subset=['Embarked'],inplace=True)
y = X.pop('Survived')

In [349]:
categorical_variables = ['Sex','Embarked']

for variable in categorical_variables:
    
    X[variable].fillna("Missing",inplace=True)
    dummies = pd.get_dummies(X[variable],prefix=variable)
    X = pd.concat([X,dummies],axis=1)
    X.drop([variable],axis=1,inplace=True)
    ## For submission testing
    test[variable].fillna("Missing",inplace=True)
    dummies = pd.get_dummies(test[variable],prefix=variable)
    test = pd.concat([test,dummies],axis=1)
    test.drop([variable],axis=1,inplace=True)

In [350]:
model = RandomForestRegressor(100,oob_score=True,n_jobs=-1,random_state=42)

model.fit(X,y)

print (roc_auc_score(y,model.oob_prediction_))

0.859570877531

### Important Features

In [321]:
model.feature_importances_

array([ 0.19309497,  0.10094418,  0.1660558 ,  0.04320487,  0.01367438,
        0.15939857,  0.14644416,  0.14929701,  0.00885668,  0.00595304,
        0.01307635])

In [322]:
# Creating submission file
pred = model.predict(test)
S = pd.DataFrame()
S = test['PassengerId']
for i in range(0,len(pred)):
    if (pred[i]>=0.5):
        pred[i]=1
    else:
        pred[i]=0
pred = pd.DataFrame(pred)
pred.columns = ["Survived"]
S = pd.concat([S,pd.DataFrame(pred)],axis=1)

S.to_csv("output.csv")

In [281]:
test

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.50000,0,0,7.8292,0,1,0,1,0
1,893,3,47.00000,1,0,7.0000,1,0,0,0,1
2,894,2,62.00000,0,0,9.6875,0,1,0,1,0
3,895,3,27.00000,0,0,8.6625,0,1,0,0,1
4,896,3,22.00000,1,1,12.2875,1,0,0,0,1
5,897,3,14.00000,0,0,9.2250,0,1,0,0,1
6,898,3,30.00000,0,0,7.6292,1,0,0,1,0
7,899,2,26.00000,1,1,29.0000,0,1,0,0,1
8,900,3,18.00000,0,0,7.2292,1,0,1,0,0
9,901,3,21.00000,2,0,24.1500,0,1,0,0,1
10,902,3,30.27259,0,0,7.8958,0,1,0,0,1
11,903,1,46.00000,0,0,26.0000,0,1,0,0,1
12,904,1,23.00000,1,0,82.2667,1,0,0,0,1
13,905,2,63.00000,1,0,26.0000,0,1,0,0,1
14,906,1,47.00000,1,0,61.1750,1,0,0,0,1
15,907,2,24.00000,1,0,27.7208,1,0,1,0,0
16,908,2,35.00000,0,0,12.3500,0,1,0,1,0
17,909,3,21.00000,0,0,7.2250,0,1,1,0,0
18,910,3,27.00000,1,0,7.9250,1,0,0,0,1
19,911,3,45.00000,0,0,7.2250,1,0,1,0,0
20,912,1,55.00000,1,0,59.4000,0,1,1,0,0
21,913,3,9.00000,0,1,3.1708,0,1,0,0,1
22,914,1,30.27259,0,0,31.6833,1,0,0,0,1
23,915,1,21.00000,0,1,61.3792,0,1,1,0,0
24,916,1,48.00000,1,3,262.3750,1,0,1,0,0
25,917,3,50.00000,1,0,14.5000,0,1,0,0,1
26,918,1,22.00000,0,1,61.9792,1,0,1,0,0
27,919,3,22.50000,0,0,7.2250,0,1,1,0,0
28,920,1,41.00000,0,0,30.5000,0,1,0,0,1
29,921,3,30.27259,2,0,21.6792,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,21.00000,0,0,7.7500,0,1,0,1,0
389,1281,3,6.00000,3,1,21.0750,0,1,0,0,1
390,1282,1,23.00000,0,0,93.5000,0,1,0,0,1
391,1283,1,51.00000,0,1,39.4000,1,0,0,0,1
392,1284,3,13.00000,0,2,20.2500,0,1,0,0,1
393,1285,2,47.00000,0,0,10.5000,0,1,0,0,1
394,1286,3,29.00000,3,1,22.0250,0,1,0,0,1
395,1287,1,18.00000,1,0,60.0000,1,0,0,0,1
396,1288,3,24.00000,0,0,7.2500,0,1,0,1,0
397,1289,1,48.00000,1,1,79.2000,1,0,1,0,0
398,1290,3,22.00000,0,0,7.7750,0,1,0,0,1
399,1291,3,31.00000,0,0,7.7333,0,1,0,1,0
400,1292,1,30.00000,0,0,164.8667,1,0,0,0,1
401,1293,2,38.00000,1,0,21.0000,0,1,0,0,1
402,1294,1,22.00000,0,1,59.4000,1,0,1,0,0
403,1295,1,17.00000,0,0,47.1000,0,1,0,0,1
404,1296,1,43.00000,1,0,27.7208,0,1,1,0,0
405,1297,2,20.00000,0,0,13.8625,0,1,1,0,0
406,1298,2,23.00000,1,0,10.5000,0,1,0,0,1
407,1299,1,50.00000,1,1,211.5000,0,1,1,0,0
408,1300,3,30.27259,0,0,7.7208,1,0,0,1,0
409,1301,3,3.00000,1,1,13.7750,1,0,0,0,1
410,1302,3,30.27259,0,0,7.7500,1,0,0,1,0
411,1303,1,37.00000,1,0,90.0000,1,0,0,1,0
412,1304,3,28.00000,0,0,7.7750,1,0,0,0,1
413,1305,3,30.27259,0,0,8.0500,0,1,0,0,1
414,1306,1,39.00000,0,0,108.9000,1,0,1,0,0
415,1307,3,38.50000,0,0,7.2500,0,1,0,0,1
416,1308,3,30.27259,0,0,8.0500,0,1,0,0,1
417,1309,3,30.27259,1,1,22.3583,0,1,1,0,0